<div class="row">
    <div class="col-md-12">
        <div class="action-card card" style="height: 100vh;">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6">
                        <form [formGroup]="actionForm" (ngSubmit)="onSubmit()">

                            <div class="form-group">
                                <label>Choose Action</label>
                                <select class="form-control" (ngModelChange)="onSelectAction($event)"
                                    formControlName="actionID">
                                    <option value="" disabled>Choose One Action</option>
                                    <option *ngFor="let action of actionsList" [(value)]="action.id">{{action.name}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="actionForm.value.actionID"><br>
                                <label>Terms & Conditions</label><br>

                                <input type="checkbox" id="action-checkbox" formControlName="verUserAff">&nbsp;
                                <label> I have agreed to the
                                    <span style="color: #1E3B28;font-weight: bold;"> {{selectedActionObj?.name}}</span>
                                    policy.</label><br>

                                <input type="checkbox" id="action-checkbox" formControlName="verTWO">&nbsp;
                                <label> Are you read all the policy info
                                </label><br>
                                <input type="checkbox" id="action-checkbox" formControlName="verThree">&nbsp;
                                <label> Are you Acceptted </label><br>
                                <br>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Notes</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                        formControlName="notes"></textarea>
                                    <div class="error">All Fields are Mandatory.</div>

                                </div>
                                <div style="text-align: center;">
                                    <button type="submit" class="btn btn-primary btn-round"
                                        [disabled]="!this.actionForm.valid">Approve </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>