<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="card-title"> Users</h4>
            <p class="card-category"> Here showing basic info of users</p>
          </div>
          <div class="card-body">



            <table class="user-table table">
              <thead>

                <th>User Name</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Last Updated</th>
                <th>Actived On</th>
              </thead>
              <tbody>
                <tr *ngFor="let user of usersList" style="background-color: #F4F4F4;border-bottom: 6px solid #FFFFFF;">
                  <ng-container style="margin: 2px !important;">

                    <td>
                      {{user.profile.firstName + ' '+ user.profile.lastName}}
                    </td>
                    <td>
                      {{user.profile.email}}
                    </td>
                    <td>{{user.lastLogin| date:'dd-M-yyyy H:mm a'}}</td>
                    <td>{{user.lastUpdated| date:'dd-M-yyyy H:mm a'}}</td>
                    <td>{{user.activated| date:'dd-M-yyyy H:mm a'}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>